*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    padding-inline: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: darkorange;
    box-shadow: 0 0 20px;
    /* vertical-align: middle; */
    
    
} 

.categories-nav {
    flex: 0 1 20%;
    justify-content: space-between;
    align-items: baseline;
    height: 100%;
    margin-top: 20px;
    text-align: center;
    
    
}
a {

    color: white;
    font-weight: bold;
    text-decoration: none;
    
}
.icon {
    flex: 0 1 20%;
    color: white;
    height: 100%;
    padding-top: 20px;
    justify-content: space-between;
    justify-content: center;
    align-items: center;  
}

.logo-bool{
    flex: 0 1 60%;
    align-self: center; 
    color: white;
    height: 35px;
    /* width: 150px; */
}
/* MAIN */
main{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    gap: 1rem;
    padding-inline: 200px;

    /* padding-top: 100px;
    padding-inline: 50px; */
}
.container-item{
    position: relative;
    margin: auto;
    flex: 0 1 calc(100% / 3 - 50px);
    height: 100%;
}
.img-1 {
    position: absolute;
    align-self: center; 
    color: white;
    height: 350px;
    width: 100%;
}
.flip:hover {
    opacity: 0%;
}

.img-2 {
    
    height: 350px;
    width: 100%;
    top: 0;
    left: 0 ;
}
.eco{
    padding: 3px;
    display: block;
    position: absolute;
    background-color: green;
    color: white;
    bottom: 100px;
    left: 50px;
     
}
.discount{
    padding: 3px;
    margin-left: 5px;
    position: absolute;
    color: white;
    background-color: red;
    bottom: 100px;
    left: 0; 
}
.heart{
    padding: 3px;
    font-size: 23px;
    position: absolute;
    background-color: white;
    top: 10px;
    right: 0; 
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.new-price {
    color: red;
    font-weight: bold;
    font-size: 0.8rem;
} 
.old-price {
    text-decoration: line-through;
    padding-left: 5px;
    font-weight: bold;
    font-size: 0.8rem;
}